@import "tailwindcss";
@plugin "daisyui" {
  themes: light, dark --default;
}

:root {
  --background: oklch(var(--b1));
  --foreground: oklch(var(--bc));
}

/* [data-theme="dark"] {
  --background: oklch(var(--b1));
  --foreground: oklch(var(--bc));
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
