@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@theme {
  /* bikin variable baru  */
  --background: #f5f5f5;
  --foreground: #000000;
  --color-primary-content: oklchoklch(55.53% 0.1826 143.55);
  --color-primary-content-dark: oklch(50.503% 0.0759 168.35);
  --color-primary-content-bright: oklch(98.2% 0.018 155.826);
  --color-primary-muted: oklch(89.11% 0.166 148.62);
}

/* override warna bawaan DaisyUI atau yang sudah di deklarasi di @theme*/
@plugin "daisyui/theme" {
  name: "fnb-theme";
  --color-primary-content: oklch(55.53% 0.1826 143.55);
  --color-primary-content-dark: oklch(50.503% 0.0759 168.35);
  --color-primary-content-bright: oklch(98.2% 0.018 155.826);
  --color-primary: oklch(85.86% 0.2179 146.89);
  --color-primary-muted: oklch(89.11% 0.166 148.62);
  --color-secondary: oklch(21.22% 0.0625 147.36);
}

@plugin "daisyui/theme" {
  name: "jasa-theme";
  --color-primary-content: oklch(66.87% 0.1437 107.4);
  --color-primary-content-dark: oklch(66.87% 0.1437 107.4);
  --color-primary-content-bright: oklch(98.7% 0.026 102.212);
  --color-primary: oklch(95.23% 0.1401 112.26);
  --color-primary-muted: oklch(95.67% 0.0551 120.71);
  --color-secondary: oklch(67.09% 0.127 110.43);
  /* oklch(62.8% 0.0901 111.73); */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE dan Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@keyframes float {
  0%,
  100% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-2px);
  }
}

@keyframes float-slow {
  0%,
  100% {
    transform: translateX(1px);
  }
  50% {
    transform: translateX(-1px);
  }
}

@layer utilities {
  .animate-float {
    animation: float 2s ease-in-out infinite;
  }

  .animate-float-slow {
    animation: float-slow 2s ease-in-out infinite;
  }
}

/*oklch(55.53% 0.1826 143.55);*/

@utility flex-center {
  @apply flex justify-center items-center;
}

/* Leafjs */

/* Custom style untuk popup leaflet */

@layer base {
  .popup-card {
    @apply w-[260px] p-2 max-h-none;
  }

  .popup-header {
    @apply flex w-full h-auto gap-2 items-center;
  }
}

.leaflet-popup-content-wrapper {
  background: #111;
  color: white;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
  padding: 0;
}

.leaflet-popup-content {
  margin: 0;
  padding: 0;
}

/* Card Layout */
/*.popup-card {
  width: 260px;
  padding: 16px;
  font-family: 'Inter', sans-serif;
}*/

.popup-image-container {
  width: 50px;
  height: auto;
  border-radius: 100%;
}

.popup-img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  object-fit: cover;
}

.popup-title {
  font-weight: 700;
  font-size: 16px;
}

.popup-body {
  margin-top: 10px;
  font-size: 13px;
  color: #ccc;
}

.popup-btn {
  margin-top: 14px;
  width: 100%;
  background: #2dd4bf;
  color: #000;
  border: none;
  border-radius: 8px;
  padding: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}

.popup-btn:hover {
  background: #22c1ac;
}
