@import "tailwindcss";
@plugin "daisyui" {
  /* themes: light --default; */
}

@theme {
  /* bikin variable baru  */
  --background: #f5f5f5;
  --foreground: #000000;
  --color-primary-content: oklch(55.53% 0.1826 143.55);
  --color-primary-content-dark: oklch(50.503% 0.0759 168.35);
  --color-primary-content-bright: oklch(98.2% 0.018 155.826);
  --color-primary-muted: oklch(89.11% 0.166 148.62);
}

/* override warna bawaan DaisyUI atau yang sudah di deklarasi di @theme*/
@plugin "daisyui/theme" {
  name: "fnb-theme";
  --color-primary-content: oklch(55.53% 0.1826 143.55);
  --color-primary-content-dark: oklch(50.503% 0.0759 168.35);
  --color-primary-content-bright: oklch(98.2% 0.018 155.826);
  --color-primary: oklch(85.86% 0.2179 146.89);
  --color-primary-muted: oklch(89.11% 0.166 148.62);
  --color-secondary: oklch(21.22% 0.0625 147.36);
}

@plugin "daisyui/theme" {
  name: "jasa-theme";
  --color-primary-content: oklch(66.87% 0.1437 107.4);
  --color-primary-content-dark: oklch(66.87% 0.1437 107.4);
  --color-primary-content-bright: oklch(98.7% 0.026 102.212);
  --color-primary: oklch(95.23% 0.1401 112.26);
  --color-primary-muted: oklch(95.67% 0.0551 120.71);
  --color-secondary: oklch(67.09% 0.127 110.43);
  /* oklch(62.8% 0.0901 111.73); */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE dan Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@keyframes float {
  0%,
  100% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-2px);
  }
}

@keyframes float-slow {
  0%,
  100% {
    transform: translateX(1px);
  }
  50% {
    transform: translateX(-1px);
  }
}

@layer utilities {
  .animate-float {
    animation: float 2s ease-in-out infinite;
  }

  .animate-float-slow {
    animation: float-slow 2s ease-in-out infinite;
  }
}

/*oklch(55.53% 0.1826 143.55);*/
